<h2 class="my-3">Изменение пароля и почты</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row align-items-center">
    <div class="col-sm-3 pr-0">  
      <i class="fa fa-envelope"></i>
      <%= f.label :email, class: "col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group row align-items-center">
    <div class="col-sm-3 pr-0">  
      <i class="fa fa-lock"></i>
      <%= f.label :password, 'Пароль', class: "col-form-label" %> 
    </div>
    <div class="col-sm-6">
      <small id="passwordchangeHelp" class="form-text text-muted">оставьте поле пустым если не хотите менять пароль</small>
      <%= f.password_field :password, class: "form-control" %>
      <% if @minimum_password_length %>
        <small id="passwordHelp" class="form-text text-muted">не менее <%= @minimum_password_length %> символов</small>
      <% end %>
    </div>  
  </div>

  <div class="form-group row align-items-center">
    <div class="col-sm-3 pr-0">  
      <%= f.label :password_confirmation, 'Подтверждение пароля', class: "col-form-label" %><br />
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>  
  </div>

  <div class="form-group row">
    <div class="col-sm-3 pr-0">  
      <i class="fa fa-lock"></i>
      <%= f.label :current_password, 'Текущий пароль',class: "col-form-label" %> 
    </div>
    <div class="col-sm-6">
      <%= f.password_field :current_password, class: "form-control" %>
      <small id="passwordHelp" class="form-text text-muted">укажите текущий пароль для продолжения</small>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Сохранить", class: "btn btn-primary" %>
    или <%= link_to "вернуться", :back %>
  </div>
<% end %>

<div class="container pl-0 my-5">
  <h3>Удаление аккаунта</h3>
  <%= button_to "удалить профиль", registration_path(resource_name), data: { confirm: "Уверенны?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %></p>
</div>

