<h1>Доступ только по пин-коду</h1>
<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div class="mt-3 alert alert-danger">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label_tag :pincode, 'Пин-код' %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>
