<% content_for :js_includes do %>
  
  <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=5a1143d1-7c45-4f8c-94d7-e81400878303&lang=ru_RU" %> 
  <%= javascript_pack_tag "maps", 'data-turbolinks-track': 'reload' %>     
<% end %>

<div class="row flex-column">
  
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="alert alert-primary col">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>  

  <div class="event mt-3 col">
    <div class="event-info row">
      <div class="col-md-12">
        <%= content_tag 'div', '', class: 'event-background',
          style: "background-image: url(#{event_photo(@event)})" %>  
        <div class="event-info-inner row"> 
          <div class="col-md-6">
            <div class="row flex-column">
              <div class="event-description container">
                <h1><%= @event.title %></h1>
                <h3><%= l @event.datetime, format: :short %></h3>
                <p><%= @event.description %></p>
              </div>
              <% if current_user_can_edit?(@event) %>
                <div class="buffer-top col">
                  <div class="container row mb-3">
                    <%= link_to 'Изменить', edit_event_path(@event),
                      class: 'btn btn-primary btn-sm mr-3' %>
                    <%= button_to "Удалить", event_path(@event), data: { confirm: t('are_you_sure') },method: :delete, class: "btn btn-danger btn-sm" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div id="map"
            class="buffer-both map-form d-inline"
            data-address="<%= @event.address %>">    
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 container">
        <div class="event-photos px-0">

          <%# Выводим все фотографии события %>
          <div class="event-photos-gallery">
            <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
          </div>
          
          <div class="event-photo-form mt-3">
            <%= render partial: 'photos/form', locals: { photo: @new_photo || @event.photos.build } %>
          </div>
        </div>

        <div class="event-comments buffer-top flex-row">
          <%= render partial: 'comments/form', locals: { comment: @new_comment || @event.comments.build } %>
          <div class="buffer-both">
            <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="event-owner">
          <h4>Зовет:</h4>
          <p><%= render partial: 'users/user', object: @event.user %></p>
        </div>
        <div class="event-subscriptions">
          <h4>Пойдут:</h4>
          <div>
            <p>
            <%= render partial: 'subscriptions/subscription',
              collection: @event.subscriptions.except(@new_subscription) %>
            </p>
          </div>
        </div>
        <% unless @event.user == current_user %>
          <div class="event-subscription-form">
            <h4>Я пойду:</h4>
            <div>
              <%= render partial: 'subscriptions/form', locals: {
                subscription: @new_subscription || @event.subscriptions.build
              } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "alloy_finger" %> 
<%= javascript_pack_tag "lc_lightbox" %> 
<%= javascript_pack_tag "lbscript" %> 