<h2 class="my-3">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row align-items-center">
    <div class="col-sm-2 pr-0">  
      <i class="fa fa-envelope"></i>
      <%= f.label :email, class: "col-form-label" %>
    </div>
    <div class="col-sm-6">  
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <div class="col-sm-2 pr-0">  
      <i class="fa fa-lock"></i>
      <%= f.label :password, class: "col-form-label" %>
    </div>
    <div class="col-sm-6">  
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check align-items-center">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, 'Запомнить', class: "form-check-label" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Войти", class: "btn btn-primary" %>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-6">
    <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
